extends layout

block navigation
	.about-me
		.wrapper
			h1 About me 
			img(scr="./images/pic1.png" alt="")
			p My name is Vladislav and I am quite a creative person who tries to approach any task with creativity, looking at it from many different angles.  I am engaged in design, modeling, photography, creation of various types of musical arrangements, production of ideas and their implementation in life.  Always happy for creative and challenging tasks.  Always glad to meet new people. I have been fond of design since junior classes and constantly improve my skills. I like to solve problems in extraordinary ways and always focus on the final goal.  I have experience working with well-known brands.  I know many nuances of the industry and can find an approach to any client and any order.
			h2 Applications
			ul.skills
				li Photoshop
				li Illustrator
				li Cinema 4D
				li Adobe After Effects
				li Pro Create
				li FL Studio 21
			h2 Skills
			ul.skills
				li 3D Animation
				li 3D Design
				li Graphick Design
				li Hand drawing and sketching
				li Brand Development
				li Logo/Label Design
				li Content Development
			//- .download-resume
			//- 	input.submit-btn(type='button' value='Submit' onclick="location.href='./php/download.php'" )